---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)



@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting"
;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $navbar-height + $navbar-margin-bottom;
  margin-bottom: 46px;
}

.navbar-brand{
  img{
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
}


.header-container {
  background-color: black;
  background: url('https://upload.wikimedia.org/wikipedia/commons/3/34/Schabrackentapir.JPG') no-repeat 50% 0;
  color: #fff;

  h1 {
    color: #fff;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: -37px;
}
.navbar-container {
  font-size: 16px;
}
.page-content {
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
  padding-top: 10px;
  background-color: $gray-lighter;
  color: $gray-dark;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}
*[id]:before {
  display: block;
  content: " ";
  //margin-top: -75px;
  //height: 75px;
  visibility: hidden;
}
.navbar-form .has-feedback .form-control-feedback{
  top:10px
}

pre {
  overflow: visible;
}

code.prettyprint ol {
	margin:0;
}


code.prettyprint  {
    background-color: transparent;
}


.prettyprint  {
    background-color: transparent;
}

#tipue_search_input, #tipue_search_foot_boxes
{

     font: 300 14px/1 Roboto, sans-serif;
}
#tipue_search_results_count, #tipue_search_warning, .tipue_search_content_url, .tipue_search_content_debug, .tipue_search_related_text
{
     font: 300 14px/1.7 Roboto, sans-serif;
}
.tipue_search_content_title
{
     font: 100 26px/1.7 Roboto, sans-serif;
}
.tipue_search_content_text, .tipue_search_related_title
{
     font: 300 15px/1.7 Roboto, sans-serif;
}
.tipue_search_content_bold, .tipue_search_related_bold
{
     font-weight: 400;
}
