<div class="container">
     <!-- Content Row -->
     <div class="row">
         <div class="col-md-4">
             <div class="panel panel-primary text-center sr-pricing">
                 <div class="panel-heading">
                     <h3 class="panel-title">Evaluation <span class="label label-success">Free</span></h3>
                 </div>
                 <ul class="list-group">
                     <li class="list-group-item"><strong>3</strong> Page Objects</li>
                     <li class="list-group-item"><strong>5</strong> Test Cases</li>
                     <li class="list-group-item"><strong>5</strong> Datasets per Dataprovider</li>
                     <li class="list-group-item">No Time or Functional Limitation*</li>
                     <li class="list-group-item">No License Needed</li>
                     <li class="list-group-item"><a href="{{ "/docs/gettingstarted/first-tapir-test-case/" | prepend: site.baseurl }}" class="btn btn-primary">Start now!</a>
                     </li>
                 </ul>
             </div>
         </div>
         <div class="col-md-4">
             <div class="panel panel-primary text-center sr-pricing">
                 <div class="panel-heading">
                     <h3 class="panel-title">Community <span class="label label-success">Free</span></h3>
                 </div>
                 <ul class="list-group">
                     <li class="list-group-item"><strong>Unlimited</strong> Page Objects</li>
                     <li class="list-group-item"><strong>Unlimited</strong> Test Cases</li>
                     <li class="list-group-item"><strong>Unlimited</strong> Datasets per Dataprovider</li>
                     <li class="list-group-item">No Functional Limitation*</li>
                     <li class="list-group-item">Free for Non-Enterprise Users</li>
                     <li class="list-group-item"><a href="{{ "/license?edition=community#request" | prepend: site.baseurl }}" class="btn btn-primary">Get it for free!</a>
                     </li>
                 </ul>
             </div>
         </div>
         <div class="col-md-4">
             <div class="panel panel-primary text-center sr-pricing">
                 <div class="panel-heading">
                     <h3 class="panel-title">Enterprise</h3>
                 </div>
                 <ul class="list-group">
                     <li class="list-group-item"><strong>Individual</strong> Number of Page Objects</li>
                     <li class="list-group-item"><strong>Individual</strong> Number of Test Cases</li>
                     <li class="list-group-item"><strong>Individual</strong> Number of Datasets per Dataprovider</li>
                     <li class="list-group-item">Individual Feature Set</li>
                     <li class="list-group-item">For Enterprise Users</li>
                     <li class="list-group-item"><a href="{{ "/license?edition=enterprise#request" | prepend: site.baseurl }}" class="btn btn-primary">Request offer now!</a>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
     <!-- /.row -->
     <div>
         * except Product-Line Testing and Parallel Execution
     </div>
 </div>
