<!-- Footer -->

<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 h-100 text-center">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="{{"/#contact" | prepend: site.baseurl }}">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="{{"/impressum/" | prepend: site.baseurl }}">Impressum</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="{{"/site-notice/" | prepend: site.baseurl }}">Site Notice</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="{{"/datenschutzerklaerung/" | prepend: site.baseurl }}">Datenschutzerklärung</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="{{"/privacy-policy/" | prepend: site.baseurl }}">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; b+m Informatik AG {{ 'now' | date: "%Y" }}. All Rights Reserved.</p>
      </div>
      <div class="col-lg-5 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          {% if site.twitter.username %}
          <li class="list-inline-item mr-3">
            <a href="https://twitter.com/{{ site.twitter.username }}">
              <i class="fa fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>
          {% endif %}
          <li class="list-inline-item mr-3">
                <a href="http://www.bmiag.de/">
                      <img src="{{"/img/bm-logo.png" | prepend: site.baseurl}}" alt="b+m Logo" style="height: 3em; top: -0.5em; position: relative;"></img>
                </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
