<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#003271">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript" ></script>
    <script src="{{ "/js/scrollreveal.min.js" | prepend: site.baseurl }}" type="text/javascript" ></script>
    {% if page.tipue_search_active or layout.tipue_search_active %}
    <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
    <script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
    <script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
    <script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
    {% endif %}
    <script src="{{ "/js/request.js" | prepend: site.baseurl }}" type="text/javascript" ></script>

    <link rel="stylesheet" href="{{ "/css/prettify.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">

    <link rel="shortcut icon" href="{{ "/favicon.ico?1" | prepend: site.baseurl }}">
    {% seo %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

</head>
