<script>
  var baseurl = '{{ site.baseurl }}'
</script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }} "></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }} "></script>

<!-- include pretty-print files -->
<script src="{{ "/js/prettify.js" | prepend: site.baseurl }}" type="text/javascript" ></script>
<script src="{{ "/js/lang-xtend.js" | prepend: site.baseurl }}" type="text/javascript" ></script>

<script src="{{ "/js/formspree.js" | prepend: site.baseurl }}" type="text/javascript" ></script>
<script src="{{ "/js/custom.js" | prepend: site.baseurl }}" type="text/javascript" ></script>
