<script>
  var baseurl = '{{ site.baseurl }}'
</script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }} "></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }} "></script>

<!-- include pretty-print files -->
<script src="{{ "/js/prettify.js" | prepend: site.baseurl }}" type="text/javascript" ></script>
<script src="{{ "/js/lang-xtend.js" | prepend: site.baseurl }}" type="text/javascript" ></script>

<script src="{{ "/js/formspree.js" | prepend: site.baseurl }}" type="text/javascript" ></script>
<script src="{{ "/js/custom.js" | prepend: site.baseurl }}" type="text/javascript" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.3.6/scrollreveal.min.js" integrity="sha256-SDKDHU0lE3Q1tYhe8x3nqrEl15dwjAM3sEIP0G50RBc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
