<form id="post-new-comment" class="form" action="{{ site.staticmanUrl }}" method="post">
    <input type="hidden" name="options[title]" value="{{ page.title }}">
    <input type="hidden" name="options[slug]" value="{{ post_slug }}">
    <input type="hidden" name="options[parent]" value="{{ post_slug }}">
    <input type="hidden" name="options[origin]" value="{{ site.url }}{{site.baseurl}}{{ page.url }}">
    <input type="hidden" name="options[redirect]" value="{{ site.url }}{{site.baseurl}}{{ page.url }}">

        <input type="hidden" name="options[reCaptcha][siteKey]" value="6LcRtz8UAAAAAA4jcY72sd_LOI7bmUJVQh_8wxIb">
        <input type="hidden" name="options[reCaptcha][secret]" value="TC88Ah6QZbIX+9I9kdH9fl60+4x9ypFuiHF33KvzWvVUUygFe0Ium9SZSSjx+6wVS400Mo3OH2NNjZvh82Fe4W2rVRDtCiXecvMC3cHP/NVwNZLI+9PEODATtGydsdvcMAixwKdI+svFwz0GvQYe8oxEGfTJkcsUxvANLbjiFl4=">


    <div class="control-group form-group">
        <div class="controls">
            <label>Full Name:</label>
            <input type="text" class="form-control" name="fields[name]" required data-validation-required-message="Please enter your name.">
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group form-group">
        <div class="controls">
            <label>Email Address:</label>
            <input type="email" class="form-control" name="fields[email]" required data-validation-required-message="Please enter your email address.">
        </div>
    </div>
    <div class="control-group form-group">
        <div class="controls">
            <label>Message:</label>
            <textarea rows="10" cols="100" class="form-control" name="fields[message]" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
        </div>
    </div>
        <div class="form__recaptcha g-recaptcha" data-sitekey="6LcRtz8UAAAAAA4jcY72sd_LOI7bmUJVQh_8wxIb"></div>
    <button type="submit" class="btn btn-primary">Send Message</button>
</form>
